header{
    background-color: var(--color3);
    padding: 0;
    border-bottom: 3px solid var(--color1);
    font-family: 'Rubik', sans-serif;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a{
    color: var(--color1);
    font-weight: 700;
}
a:hover{
    color: var(--color4);
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
    border: 0.1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 3px;
    text-decoration: underline var(--color4) solid 3px;
}
nav ul li a:hover{
    background-color: var(--color1);
    color: #ffffff;
    text-decoration: underline var(--color3) solid 3px;
    transition: all 0.2s ease-in-out;
}

